:root {
  --main-bg-color: #24383b;
  --shadow-color: #707d7f;
  --action-btn: #b58c88;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: var(--main-bg-color);
  color: whitesmoke;
  font-family: "Rubik", "san-serif";
  margin-bottom: 0;
}
footer {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #83959d54;
}

footer i {
  font-size: 2.5rem;
  transition: font-size 100ms ease-in-out;
}

footer i:hover {
  font-size: 2.8rem;
}

header {
  margin: 50px 16vw;
}
.hero {
  display: flex;
  gap: 2rem;
}

.introduction {
  max-width: 60vw;
}

.introduction .light {
  font-weight: lighter;
  font-size: 0.8rem;
  font-style: italic;
}

.introduction .strong {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

main {
  padding: 50px 0;
  margin: 50px 16vw;
}

.pastworks {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  animation: appear 1s ease-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.profilepic {
  max-width: 150px;
  margin: auto;
  animation: slide-in 500ms ease-in-out;
  position: relative;
}

@keyframes slide-in {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.profilepic picture {
  max-width: inherit;
  border-radius: 5px;
}
.profilepic img {
  max-width: inherit;
  border-radius: 50%;
  object-fit: cover;
}

.work {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px whitesmoke solid;
  background-color: var(--shadow-color);
  transition: scale ease-in-out 200ms;
}

.work:hover {
  scale: 1.05;
  background-color: var(--action-btn);
  box-shadow: 1px 1px 5px var(--shadow-color), -1px -1px 5px var(--shadow-color);
}

.work a {
  text-decoration: underline 0.1em rgba(255, 255, 255, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms ease-in-out,
    text-underline-offset 300ms ease-in-out;
}

.work:hover a {
  text-decoration-color: rgba(230, 230, 240, 0.733);
  text-underline-offset: 0.4em;
}

.work h2 {
  font-size: 0.9rem;
  font-weight: 400;
}

.work img {
  max-width: 300px;
}

@media (max-width: 900px) {
  header,
  main {
    margin: min(100px, 10vw);
  }

  .introduction .strong {
    font-size: 5rem;
  }

  footer {
    margin: 0;
  }
}

@media (max-width: 600px) {
  header,
  main {
    margin: max(50px, 5vw);
  }

  .hero {
    gap: 0;
  }

  .introduction {
    max-width: none;
  }

  .introduction .strong {
    font-size: 4rem;
  }

  .profilepic {
    max-width: 100px;
    margin: auto;
    position: absolute;
    right: 10%;
    top: 95px;
  }
}
